<!-- footer area -->
 <!-- footer area -->
 <div class="footer pt-5">
    <div class="container">
          <div class="row">
              <div class="cup col-12 col-sm-6 col-md-4 col-lg-3">
                  <h2>Visit our <br> restaurant</h2>
                  <p><i class="fa-solid fa-location-dot">6, Yinusa Adeniji str, Ikeja,Lagos State.</i></p>
                  <p>+234 8090 7249 17</p>
                  <p>foodlum kitchen@gmail.com</p>
              </div>
              <div class="cup col-12 col-sm-6 col-md-4 col-lg-3">
                  <h2>Meal <br> Categories</h2>
                  <p>Continental Meals</p>
                  <p>Rice Meals</p>
                  <p>Swallow Meals</p>
                  <p>Beans Meals</p>
                  <p>Other Varieties</p>
              </div>
              <div class="cup col-12 col-sm-6 col-md-4 col-lg-3 ">
                  <h2>Opening <br> Hours</h2>
                  <p class="">Monday    :  7:30am - 7:00pm</p>
                  <p>Tuesday   :  8:00am - 9:00pm</p>
                  <p>Wednesday :  8:30am - 7:00pm</p>
                  <p>Thursday  :  10:00am- 9:00pm</p>
                  <p>Friday    :  8:00am - 7:00pm</p>
                  <p>Monday    :  8:00am - 10:00pm</p>
              </div>
              <div class="cup col-12 col-sm-6 col-md-4 col-lg-3">
                  <h2>Socials</h2>
                  <p>Instagram</p>
                  <p>Whatsapp</p>
                  <p>Facebook</p>
                  <p>Twitter</p>
              </div> 
          </div>
    </div>
  </div>
  <div class="foots container-fluid text-center text-dark p-4">
    <p class="foot">All right reserved by martos_essentials &copy 2022</p>
    <p class="footr">Created by Maryam</p>
  </div>

  <!-- footer area done -->

<!-- footer area done -->