<div class="container text-center text-info font-weight-bold mt-5 mb-5">
    <div class = "row">
        <div class = "col-md-6">
            <img src="{{profile.image.url}}" style = "width: 100px"></p>
        </div>
        <div class = "col-md-6">
            <p>Username: {{profile.user.username|title}}</p>
            <p>First name:{{profile.first_name|title}}</p>
            <p>Last name:{{profile.last_name|title}}</p>
            <p>Email:{{profile.user.email|title}}</p>
            <p>Address:{{profile.address|title}}</p>
            <p>State:{{profile.state|title}}</p>
        </div>
    </div>
</div>